/*!
 * base
 * since p64
 * create: 2014/9/29
 */

/* public */
html,
body{height:100%;}
body{background:#e6ebf0;overflow-x:hidden;}
body,
button{font-family:'\5FAE\8F6F\96C5\9ED1',microsoft yahei;}
body{color:#000;}
a,
a:hover{color:#0078d2;}
a{text-decoration:underline;}
a:hover{text-decoration:none;}
dfn{font-style:normal;}
/* j_btns */
.j_btns{padding-top:36px;}
.j_btns .titleBtn_orange,
.j_btns .titleBtn{text-decoration:none;font-size:18px;line-height:45px;font-style:normal;font-weight:normal;text-align:center;display:inline-block;padding:0 18px;}
.j_btns .titleBtn_orange:hover,
.j_btns .titleBtn:hover{font-style:normal;font-weight:normal;color:#fff;background:#e66414;border:none;}
.j_btns .titleBtn{border-bottom:2px solid #dcdcdc;height:45px;}
.j_btns .titleBtn_orange{background:#e66414;color:#fff;}
@media (min-width:640px) and (max-width:767px){
.j_btns{padding-top:56px;}
}
.no-padding{padding:0;}
.no-padding-right{padding-right:0;}
.no-padding-left{padding-left:0;}
.pt20{padding-top:20px;}
/*text_color*/
.text_orange{color:#f06e00;}
.text_hui{color:#646464;}
/* bootstrap */
@font-face{font-family:'Glyphicons Halflings';src:url(../../plugins/bootstrap/fonts/glyphicons-halflings-regular.eot);src:url(../../plugins/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../../plugins/bootstrap/fonts/glyphicons-halflings-regular.woff) format('woff'),url(../../plugins/bootstrap/fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../../plugins/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')}
@media (min-width:768px){
.container{width:auto;}
}
@media (min-width:992px){
.container{width:960px;}
}
@media (min-width:1200px){
.container{width:960px;}
}

/* button */
.btn{border-radius:3px;font-size:16px;height:40px;line-height:40px;padding-top:0;padding-bottom:0;border:0;text-decoration:none;}
.btn-blue,
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active{color:#fff;}
.btn-blue:hover{background:#00a0e6;}
.btn-blue,
.btn-blue:active{background:#0078d2;}
.btn-gray,
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active{color:#0078d2;}
.btn-gray:hover{background:#e6e6e6;}
.btn-gray,
.btn-gray:active{background:#c8c8c8;}
.btn-orange,
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active{color:#000;}
.btn-orange:hover{background:#ffd200;}
.btn-orange,
.btn-orange:active{background:#fab400;}
.btn-red,
.btn-red:hover,
.btn-red:focus,
.btn-red:active{color:#fff;}
.btn-red:hover{background:#fa0000;}
.btn-red,
.btn-red:active{background:#dc0000;}
@media (min-width:640px) and (max-width:767px){
.btn{height:70px;line-height:70px;font-size:30px;}
}
/* x_header */
.x_header{position:absolute;left:0;right:0;top:0;height:72px;background:#e6ebf0;text-align:center;z-index:2;}
.x_header .container{height:100%;padding-top:18px;background:url(../images/bg_x_header_container.png) no-repeat -26px 43px;position:relative;}
.x_header h1,
.x_header h2,
.x_header i{margin:0;display:inline-block;}
.x_header h1{width:120px;}
.x_header h1 a:focus{outline:0;}
.x_header h1 img{display:block;width:100%;}
.x_header h1 span{display:none;}
.x_header h2{vertical-align:top;padding-top:20px;font-size:20px;color:#646464;}
.x_header i{font-size:0;width:1px;height:35px;background:#646464;margin:7px 8px 0;}
.x_header .user{position:absolute;right:5px;top:42px;font-size:12px;line-height:1.1;}
@media (min-width:640px){
.x_header .container{padding-top:15px;}
.x_header h1{width:140px;}
}
@media (min-width:640px) and (max-width:767px){
.x_header h2{padding-top:9px;font-size:30px;}
.x_header .user{right:25px;top:35px;font-size:22px;}
}
@media (min-width:768px){
.x_header .container{background-position:125px 43px;}
.x_header .user{right:10px;font-size:18px;top:40px;}
}

/* x_content */
.x_content{min-height:100%;padding:72px 0 160px;background:#fafafa url(../images/bg_x_content.png) no-repeat 50% 100%;position:relative;}
@media (min-width:768px){
.x_content .container{background:url(../images/bg_x_content_container.png) no-repeat 100% 34px;}
}

/* x_footer */
.x_footer{height:62px;margin-top:-62px;text-align:center;font-size:12px;color:#646464;line-height:22px;padding:9px 15px;background:#e6ebf0;position:relative;z-index:2;}
@media (min-width:480px){
.x_footer{padding:20px 15px;}
}

/* x_form */
.x_form .form-group{padding-top:10px;margin:0;overflow:hidden;}
.x_form .form-group .pa{position:relative;padding:0;margin-bottom:5px;}
.x_form .form-group label{position:absolute;left:1px;top:1px;height:38px;line-height:38px;text-align:right;width:100px;font-weight:700;margin:0;}
.x_form .form-control{height:40px;border-color:#b7babf;border-radius:3px;font-size:18px;padding:0 0 0 112px;}
.x_form .form-control:focus{border-color:#0078d2;box-shadow:none;}
.x_form .form-control::-webkit-input-placeholder{color:#969696;font-size:14px;padding-top:2px;}
.x_form .form-control::-moz-placeholder{color:#969696;font-size:14px;padding-top:2px;}
.x_form .form-control:-ms-input-placeholder{color:#969696;font-size:14px;padding-top:2px;}
.x_form .form-group .pa i{position:absolute;right:2px;top:1px;background:#fff;color:#0078d2;height:38px;width:38px;line-height:38px;font-size:25px;cursor:pointer;text-align:center;}
.x_form .form-group .error{padding:0;max-height:28px;line-height:28px;overflow:hidden;margin:10px 0 5px;}
.x_form .form-group .error i{color:#e60000;text-align:center;font-size:16px;vertical-align:middle;margin:-2px 5px 0 0;}
.x_form .nopadding .col-xs-6{padding:0;}
.x_form_small .form-group label{width:85px;}
.x_form_small .form-control{padding:0 0 0 96px;}
.x_form_large .form-group label{width:110px;}
.x_form_large .form-control{padding:0 0 0 123px;}
@media (min-width:640px) and (max-width:767px){
.x_form{padding-left:10px;padding-right:10px;}
.x_form .form-group label{height:68px;line-height:68px;width:170px;font-size:24px;}
.x_form .form-control{height:70px;font-size:30px;padding:0 0 0 186px;}
.x_form .form-control::-webkit-input-placeholder{font-size:24px;padding-top:3px;}
.x_form .form-control::-moz-placeholder{font-size:24px;padding-top:3px;}
.x_form .form-control:-ms-input-placeholder{font-size:24px;padding-top:3px;}
.x_form .form-group .pa i{height:68px;width:88px;line-height:68px;font-size:50px;}
.x_form .form-group .error{font-size:20px;max-height:30px;line-height:30px;}
.x_form .form-group .error i{font-size:22px;margin:-4px 10px 0 0;}
.x_form_small .form-group label{width:150px;}
.x_form_small .form-control{padding:0 0 0 160px;}
.x_form_large .form-group label{width:195px;}
.x_form_large .form-control{padding:0 0 0 208px;}
}
@media (min-width:768px){
.x_form .form-group .error{max-height:40px;line-height:40px;padding:0 0 0 10px;margin:0;}
}

/* x_loginpage */
.x_loginpage,
.x_loginpage .x_header,
.x_loginpage .x_footer{background:#f5f5f5;}
.x_loginpage .x_content{background:url(../images/bg_x_loginpage_x_content_3.png) repeat-x 50% 100%, url(../images/bg_x_loginpage_x_content_2.png) no-repeat 50% 100%, url(../images/bg_x_loginpage_x_content_1.png) no-repeat 50% 50% #fd6b2b;padding-bottom:380px;}
.x_loginpage .x_header .container,
.x_loginpage .x_content .container{background:none;}
.x_loginpage .x_form{padding-top:50px;}
.x_loginpage .x_form .error{margin:0 -15px 5px;padding:0;max-height:24px;height:24px;line-height:24px;}
.x_loginpage .x_form .error,
.x_loginpage .x_form .error i{color:#ff0;}
@media (min-width:768px){
.x_loginpage .x_form{padding-top:60px;}
}
@media (min-width:640px) and (max-width:767px){
.x_loginpage .x_form .error{font-size:24px;line-height:34px;max-height:34px;height:34px;}
.x_loginpage .x_form .error i{font-size:30px;}
}

/* k_prompt */
.k_prompt p{margin:0;}
.k_prompt{padding:110px 0 0;text-align:center;}
.k_prompt .icon{font-size:45px;}
.k_prompt .icon_red{color:#f00;}
.k_prompt .icon_green{color:#45b035;}
.k_prompt .icon_orange{color:#f06e00;}
.k_prompt .col-sm-4,
.k_prompt .col-sm-8{padding:0;}
.k_prompt .icon_404{width:254px;height:247px;display:inline-block;background-image:url(../images/icon_k_content.png);}
.k_prompt h3{font-size:24px;margin:12px 0 0;}
.k_prompt .col-sm-4{padding:96px 0 0;}
.k_prompt .prompt{color:#f06e00;font-size:18px;line-height:30px;margin:72px auto 0;text-align:left;}
.k_prompt .prompt02{color:#f06e00;font-size:14px;border-top:1px dashed #969696;text-align:left;line-height:38px;}
.k_prompt .info{margin:70px auto 0;}
.k_prompt .goods{text-align:left;font-size:18px;line-height:28px;}
.k_prompt .price{font-size:16px;line-height:26px;text-align:left;}
.k_prompt .price_bottom{margin:0 0 12px;}
.k_prompt .price>span{font-size:20px;color:#f06e00;}
.k_prompt>ul{overflow:hidden;width:520px;padding:0;margin:50px auto 0;}
.k_prompt>ul>li{float:left;width:162px;height:107px;border:1px solid #cbcbcb;list-style:none;margin:0 5px;font-size:16px;}
.k_prompt>ul>li>a{display:block;margin:4px auto;color:#000;text-decoration:none;}
.k_prompt .fire{margin:5px;}
@media (min-width:640px) and (max-width:767px){
.k_prompt{padding:138px 10px 0;}
.k_prompt h3{line-height:32px;font-size:32px;margin:15px 0 0;}
.k_prompt .prompt{font-size:24px;line-height:36px;}
.k_prompt .info{margin:146px auto 0;}
.k_prompt .goods{font-size:26px;line-height:36px;}
.k_prompt .price{font-size:24px;line-height:64px;}
.k_prompt .price_bottom{margin:0 0 25px;}
.k_prompt .prompt02{font-size:24px;line-height:48px;}
.k_prompt .price>span{font-size:30px;}
}
@media (min-width:768px){
.k_prompt .prompt{text-align:center;}
.k_prompt .info{margin:70px 140px 0;}
}

/* j_title */
.j_title{padding-top:36px;border-bottom: 1px dashed #969696;font-size:2rem;}
.j_title span{color:#ff6000;}
@media (min-width:640px) and (max-width:768px){
.j_title{margin:0 10px;font-size:2.4rem;}
.j_title span{font-size:3rem;}
}
@media (min-width:768px){
.j_title{padding-top:50px;margin:0 50px;}
}
/* j_container */
.j_container form{padding-top:42px;}
.j_container .old label{display:none;}
@media (min-width:640px) and (max-width:768px){
.j_container .id_btn{padding-top:32px;}
}
@media (min-width:768px){
.j_container form{padding-top:56px;}
.j_container .id_btn{padding-top:58px;}
.j_container .old label{display:block;}
}
/* j_form */
.j_form .id_car{font-size:16px;color:#646464;}
.j_form .id_car .id_nub{font-size:18px;}
.j_form .id_name,
.j_form .id_info{display:inline-block;float:left;}
.j_form .submit_btn{padding-top:23px;}
.j_form .form-group label{width:114px;}
.j_form .form-control{padding-left:122px;}
.j_form .vcode{padding:0;}
.j_form .vcode_btn{padding:0 0 0 5px;}
.j_form .vcode_btn a{padding:0;}
/*.j_form .pre{position:relative;}*/
.j_form .help{position:absolute;width:100%;left:0;top:50px;min-height:352px;background:#e6e6e6 url(../images/j_r_help1_03.png) center 0 no-repeat;}
@media (min-width:640px) and (max-width:768px){
.j_form .id_car{font-size:2.4rem;}
.j_form .id_car .id_nub{font-size:3rem;}
.j_form .submit_btn{padding-top:67px;}
.j_form .form-group label{width:190px;}
.j_form .form-control{padding-left:205px;}
}
@media (min-width:768px){
.j_form .id_car p{margin-bottom:5px;}
}
/* .j_help */
.j_help{width:100%;border-radius:none;background:#e6e6e6;}
.j_help .tooltip-inner{min-height:203px;border-radius:none;background:none;text-align:center;max-width:100%;}
.j_help .validity{width:100%;background:url(../images/j_p_help1_03.png) center 0 no-repeat;}
.j_help .afthree{background:url(../images/j_p_help2_03.png) center 0 no-repeat;}
@media (min-width:640px) and (max-width:768px){
.j_help .tooltip-inner{min-height:352px;}
.j_help .validity{background:url(../images/j_r_help1_03.png) center 0 no-repeat;}
.j_help .afthree{background:url(../images/j_r_help2_03.png) center 0 no-repeat;}
}
@media (min-width:768px){
.j_help{max-width:370px;min-height:227px;}
}
/* j_gainid */
.j_gainid .form-group{overflow:visible;}
.j_gainid .pa{overflow:visible;}
.j_gainid .list-group{position:absolute;top:40px;left:123px;z-index:9;}
.j_gainid .list-group a{text-decoration:none;}
@media (min-width:640px) and (max-width:768px){
.j_gainid .list-group{top:70px;left:208px;}
.j_gainid .list-group a{text-decoration:none;}
}
/* j_line_item */
.j_line_item .row{line-height:30px;font-size:18px;}
.j_line_item .row .node{display:inline-block;float:right;}
.j_line_item .info_list{padding:18px 0 23px 0;}
.j_line_item .list_box{padding:15px 0 10px 0;border-top:1px dashed #dcdcdc;border-bottom:1px dashed #dcdcdc;}
.j_line_item .info .name{color:#646464}
.j_line_item .info{padding-bottom:20px;}
.j_line_item .life{padding-left:48px;line-height:40px;background:url(../images/pc_life_icon_10.png) 0 0 no-repeat;}
@media (min-width:640px) and (max-width:768px){
.j_line_item .row{line-height:36px;font-size:24px;}
.j_line_item .life{font-size:26px;}
}
@media (min-width:768px){
.j_line_item .info .name{text-align:right;}
}
/* j_pcfortv */
.j_pcfortv .bg{margin-top:50px;min-height:124px;}
.j_pcfortv .bg img{margin:0 auto;}
.j_pcfortv .info{font-size:18px;padding-top:40px;padding-bottom:40px;}
@media (min-width:640px) and (max-width:768px){
.j_pcfortv .bg{margin-top:124px;}
.j_pcfortv .info{font-size:24px;padding-top:60px;padding-bottom:55px;}
}
@media (min-width:768px) {
.j_pcfortv .bg{margin-top:105px;min-height:190px;}
.j_pcfortv .info{padding-bottom:60px;}
}
/*c_tos*/
.mrtop32 { margin:32px 0;}
.mrtop50 { margin-top:50px;}
.c_txtft { font-size:20px;}
.c_colf06e00 { color:#f06e00;}
.c_ft16 { font-size:16px;}
.c_ft20 { font-size:20px;}
.c_txtindent>p { text-indent:24px;}
.c_disnone { display:block;}
@media (max-width:768px){
.c_disnone { display:none;}
.c_ft24 { font-size:24px;}
.mrtop32 { margin:15px 0 35px;}
.c_txtft { font-size:24px;}
.c_txtindent { font-size:18px;}
.mrtop50 { margin-top:30px;}
}

/*c_confpay*/
.c_p64confpay {margin-top:48px; padding:0 35px;}
.c_p64confpay .c_inline { font-size:16px;}
.c_p64confpay .form-group p { font-size:18px;}
.c_p64confpay .c_paywaybox {background-color:#e7f7f7; padding:9px 9px 38px 9px;}
.c_p64confpay .c_paywaybox>span { font-size:16px;}
.c_p64confpay .c_paywaybox .c_dashlin { border-bottom:1px dashed #000; overflow:hidden; padding-bottom:5px; margin-bottom:15px;}
.c_p64confpay .c_paywaybox .c_dashlins { overflow:hidden;}
.c_p64confpay .c_paywaybox .maxstyle { padding-top:17px;}
.c_p64confpay .c_paywaybox .maxstyle .ace { display:block; float:left; margin-top:17px;}
.c_p64confpay .c_paywaybox .minstyle { line-height:80px;}
.c_p64confpay .c_paywaybox label { height:80px; border: 1px solid #969696; float:left; position:static; margin:10px; width:260px; padding-left:10px;}
.c_p64maxcardtip { margin: 60px 0 30px;}
.c_p64confpay .c_paywaybox label img { padding-left:10px;}
.c_p64confpay .c_paywaybox label span { padding-left:45px; display:block;}
@media (max-width:768px){
.c_p64confpay .c_inline { font-size:14px;}
.c_p64confpay .form-group p { font-size:16px;}
.c_p64confpay .c_paywaybox { padding:9px 1% 38px;}
.c_p64confpay .c_paywaybox label { width:91%;}
.c_p64confpay .c_paywaybox label span { padding-left:10px;}
.c_p64confpay .c_paywaybox > span { font-size:16px;}
}

/*c_sign*/
.c_p64sign { margin-top:57px;}
.c_padbtm { padding-bottom:68px;}
.c_p64sign .c_code { width:62%; float:left; margin-right:5%;}
.c_p64sign .c_codeget { width:33%;}
.x_form .form-group .c_inline { position:relative; line-height:24px; width:56px;}
.x_form .form-group .c_inline .ace { margin-right:10px;}
.x_form .form-group .c_inline ~ a{line-height:27px;}
.c_picform .x_form { margin-bottom:56px;}

/*c_p64sign*/
.c_p64sign .c_plan { display:inline-block; margin-bottom:62px;}
.c_p64sign .c_plan .c1, .c_p64sign .c_plan .c2, .c_p64sign .c_plan .c3, .c_p64sign .c_plan .c4 { float:left; height:46px; font-size:18px; line-height:46px; color:#fff;}
.c_p64sign .c_plan .c1 {background:url(../images/bg_setpwd_o.png); border-radius:5px 0 0 5px; width:240px;}
.c_p64sign .c_plan .c1 span { font-size:24px;}
.c_p64sign .c_plan .c2 {background:url(../images/bg_setpwd_coff.png); width:26px;}
.c_p64sign .c_plan .c3 {background:url(../images/bg_setpwd_b.png); width:230px;}
.c_p64sign .c_plan .c3 span { font-size:24px;}
.c_p64sign .c_plan .c4 {background:url(../images/bg_setpwd_croff.png); width:26px;}
.c_p64sign .c_plan .c5 {background:url(../images/bg_setpwd_con.png);}
.c_p64sign .c_plan .c6 {background:url(../images/bg_setpwd_o.png);}
.c_p64sign .c_plan .c7 {background:url(../images/bg_setpwd_cron.png);}
@media (max-width:640px){
.c_ft24 { font-size:14px;}
.c_p64sign .c_plan .c1 { width:120px;}
.c_p64sign .c_plan .c3 { width:110px;}
}

/*p79*/
.k_prompt .c_statip { text-align:left; border-top:1px dashed; padding-top:10px; margin-top:10px;}
.k_prompt .c_prompt { text-align:left;}
.x_header .user .dropdown-menu { font-size:18px; min-width:140px;}
@media (max-width:640px){
.x_header .user .dropdown-menu { font-size:12px; min-width:100px;}
}

/* k_title */
.k_homepage a{text-decoration: none;}
.k_homepage .title{font-size:18px;line-height:45px;margin-bottom:24px;}
.k_homepage .balbg{overflow:hidden;background:#e6e6e6;}
.k_homepage .balance{height:45px;line-height:45px;font-size:14px;float:left;margin-right:13px;}
.k_homepage .balance i{width:30px;height:30px;background:url(../images/homepage_k_icon02.png);vertical-align:middle;margin:0 6px 6px 22px;}
.k_homepage .balance i.money{background:url(../images/homepage_k_icon01.png);}
.k_homepage .balance span{font-size:18px;}
.k_homepage .formtitle{font-size:16px;color:#646464;margin-top:45px;}
.k_homepage .table{border-top:2px solid #dcdcdc;border-bottom:2px solid #dcdcdc;margin-bottom:12px;overflow:hidden;}
.k_homepage .table p{text-align:left;margin:0;font-size:12px;}
.k_homepage .table p.tac{text-align:center;}
.k_homepage .table>div{line-height:40px;border-bottom:1px solid #dcdcdc;margin:0;overflow:hidden;position:relative;}
.k_homepage .table a{text-decoration:underline;}
.k_homepage .allPay{float:right;text-decoration:underline;}
.k_homepage .table .row span{display:inline-block;width:110px;height:30px;line-height:30px;background:#0078d2;color:#fff;font-size:16px;border-radius:3px;}
.k_homepage .table .row span:hover{background:#00a0e6;}
.k_homepage .table>div:hover{background:#dcdcdc;}
.k_homepage .table>div.first:hover{background:#fff;}
.k_homepage .table .hide768{position:absolute;display:block;height:100%;top:0;left:0;width:100%;}
.k_homepage .table .col-sm-1,
.k_homepage .table .col-sm-2,
.k_homepage .table .col-sm-3{padding-left:0px;padding-right:0px;}
@media (min-width:640px) and (max-width:767px){
.k_homepage .title{font-size:20px;margin-bottom:33px;}
.k_homepage .balance{font-size:22px;float:none;}
.k_homepage .balance span{font-size:30px;}
.k_homepage .formtitle{margin-top:33px;font-size:22px;}
.k_homepage .table>div{line-height:60px;}
.k_homepage .table{margin-bottom:32px;}
.k_homepage .table p{font-size:20px;}
.k_homepage .table .first p{font-size:18px;}
.k_homepage .allPay{font-size:20px;}
.k_homepage .table .col-sm-1,
.k_homepage .table .col-sm-2,
.k_homepage .table .col-sm-3{padding-left:15px;padding-right:15px;}
}
@media (min-width:768px){
.k_homepage .table p{font-size:14px;}
.k_homepage .table .hide768{display:none;}
.k_homepage .table .col-sm-1{padding-left:8px;padding-right:8px;}
.k_homepage .table .col-sm-2,
.k_homepage .table .col-sm-3{padding-left:15px;padding-right:15px;}
}

/* k_record */
.k_record .orange{color:#e66414;}
.k_record .title02{margin-bottom:55px;}
.k_record .title02 .mine{width:132px;}
.k_record .frame{margin-bottom:48px;position:relative;height:30px;}
.k_record .frame>div,
.k_record .frame>a>div{float:left;font-size:14px;color:#010000;padding:8px 11px;margin:10px 10px 0 0;cursor:pointer;line-height:14px;}
.k_record .frame>a>div.first{margin-left:0;}
.k_record .frame>a>div.onhover:hover,
.k_record .frame>a>div.click{background:#e66414;border-radius:2px;color:#fff;}
.k_record .frame .sel{height:30px;padding:0;width:120px;position:relative;overflow:hidden;}
.k_record .frame .select{height:30px;width:114px;border-radius:2px;border:1px solid #646464;padding:0;line-height:30px;padding-left:12px;border-right:none;}
.k_record .frame .select a{color:#000;}
.k_record .frame .clicksel,
.k_record .frame .sel:hover{overflow:visible;}
.k_record .frame .sel i{position:absolute;display:block;height:30px;width:28px;background:url(../images/record_k_icon01.png);top:0;right:4px;z-index:5;}
.k_record .frame .select ul{position:absolute;padding:0;list-style-type:none;z-index:3;border:1px solid #646464;border-radius:2px;top:29px;left:0;width:116px;background:#fff;}
.k_record .frame .select ul li{height:28px;line-height:28px;padding-left:12px;}
.k_record .frame .select ul li:hover{color:#fff;background:#e66414;}
.k_record .footerpage{margin:0 auto;width:264px;}
.k_record .footerpage .page{height:30px;display:inline-block;text-align:center;line-height:28px;border:1px solid #646464;border-radius:2px;color:#000;}
.k_record .footerpage .page:hover,
.k_record .footerpage .clickpage{border:1px solid #00a0e6;background:#00a0e6;color:#fff;}
.k_record .footerpage .margin10{margin:0 8px;}
.k_record .footerpage .allpage{display:inline-block;margin:0 8px;}
@media (min-width:640px) and (max-width:767px){
.k_record .title02{margin-bottom:43px;}
.k_record .frame{height:40px;}
.k_record .frame>div{font-size:18px;padding:11px 13px;line-height:18px;margin:0 10px;}
.k_record .frame b{font-weight:normal;}
.k_record .frame .sel{height:40px;width:150px;}
.k_record .frame .select{font-size:20px;height:40px;line-height:40px;width:140px;}
.k_record .frame .sel i{background:url(../images/record_k_icon02.png);height:40px;right:5px;}
.k_record .frame .select ul{top:39px;width:144px;}
.k_record .frame .select ul li{height:35px;line-height:35px;}
.k_record .footerpage{width:371px;}
.k_record .footerpage .page{font-size:20px;height:30px;width:70px;}
}
@media (min-width:768px){
.k_record .footerpage{width:371px;}
.k_record .footerpage .page{height:30px;width:70px;}
}